body {
  background-color: rgb(243, 112, 255);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.299);
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
